:root {
    --color-1: #473447;
    --color-2: #e8dcd4;
    --color-3: #e0ccd4;
    --color-4: #e0e4e4;
    --color-5: #ccdcd0;
}

/* Admin article */
.admin-article {
    margin-left: 5vw;
}

/* Add menu */
.food-logo {
    object-fit: cover;
    width: 25vw;
    min-height: 30vh;
    border-radius: 20px 20px 0 0;
}

.add-menu-title {
    font-size: 60px;
    text-align: center;
    margin: 25px 0;
}

.add-menu-container {
    margin: 100px 0;
}

.add-menu-container .row-add-menu {
    display: flex;
    margin: 50px 0;
}

.add-menu-container .row-add-menu .col-add-menu {
    background-color: var(--color-2);
    min-height: 75vh;
    width: 25vw;
    margin: 0 calc(20vw/6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: #00000029 0px 1px 4px;
    background: linear-gradient(135deg, #fff3e8, #f3d7d7);
}

.add-menu-container .row-add-menu .col-add-menu input {
    font-size: 20px;
}

.add-menu-container .row-add-menu .col-add-menu input[type="file"] {
    width: 25vw;
    text-align-last: center;
}


.add-menu-container .row-add-menu .col-add-menu .col-add-menu-info-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 45vh;
    margin: 0 20px;
}

.col-add-menu-info-title {
    font-size: 40px;
    font-weight: bold;
}

.col-add-menu-info-col{
    display: flex;
}

.col-add-menu-info-col1{
    max-width: 15vw;
}

.col-add-menu-info-col2{
    margin-left: auto;
    width: 100px;
}

.col-add-menu-info-col p {
    font-size: 20px;
    overflow-wrap: break-word;
}

.col-add-menu-action-col a{
    background-color: white;
    color: #000000;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 20px;
}

.add-menu-button{
    margin: auto;
    font-size: 100px;
    font-weight: 900;
}

.add-menu-container .row-add-menu .col-add-menu a:link {
    text-decoration: none;
}

.edit-menu-button {
    font-size: 30px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

/* Add menu & food form*/
.add-menu-form-container {
    margin: 10vh 0;
}

.add-menu-form {
    background: linear-gradient(135deg, #fff3e8, #f3d7d7);
    border-radius: 10px;
    width: 40vw;
    min-height: 80vh;
    margin: auto;
    font-size: 30px;
    box-shadow: #00000029 0px 1px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-menu-form div {
    margin: 20px 20px;
}

.add-menu-form div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-menu-form-title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.add-menu-form input[type="file"] {
    align-self: center;
    display: block;
    text-align-last: center;
}

.add-menu-form input[type=file]::file-selector-button {
    background-color: #e6d2cf;
    color: #000000;
    border: 1px solid var(--color-1);
}

.add-menu-form input,
#food-description {
    font-size: 25px;
    padding: 10px;
    width: 20vw;
}

#food-description{
    resize: none;
}

.add-menu-form button {
    margin: 10px 20px;
    background-color: var(--color-1);
    color: #ffffff;
    border-radius: 10px;
    width: 10vw;
    font-size: 30px;
    padding: 10px 5px;
}

.add-menu-form input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.food-description-div input {
    width: 30vw;
}

.add-food-ingredient-table,
.add-food-ingredient-table th,
.add-food-ingredient-table tr,
.add-food-ingredient-table td{
    border: #000000 2px solid;
    border-collapse: collapse;
    padding: 5px;
}

.add-food-ingredient-table{
    max-width: 20vw;
}

.add-food-ingredient-table input{
    max-width: 8vw;
}

.add-menu-form-input-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Inventory management */

.add-food-table-value,
.add-food-table-edit{
    border-collapse: collapse;
}

.add-menu-table-title,
.add-menu-table-col{
    border: #000000 2px solid;
    padding: 5px;
    font-size: 20px;
    border-collapse: collapse;
    width: 20vw;
}

.add-food-table-edit input {
    width: 100%;
}

/* Add menu dropdown checkbox*/
.food-dropdown-check-list .food-dropdown-anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid var(--color-1);
    background-color: #e6d2cf;
}

/* Create arrow */
.food-dropdown-check-list .food-dropdown-anchor:after {
    position: absolute;
    content: "";
    border-left: 3px solid black;
    border-top: 3px solid black;
    padding: 5px;
    top: 30%;
    right: 8%;
    transform: rotate(-135deg);
}

/* Hide dropdown at default */
.food-dropdown-check-list ul {
    padding: 5px;
    display: none;
    border: 1px solid var(--color-1);
    background-color: #e6d2cf;
}

.food-dropdown-check-list ul li {
    list-style: none;
}

/* Make dropdown visible */
.food-dropdown-check-list.visible ul {
    display: block;
}

/* Admin dashboard */
.admin-dashboard-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-1);
    width: 15vw;
    position: fixed;
    height: 100vh;
    align-items: start;
}

#admin-dashboard-container-expand a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 0;
}

#admin-dashboard-container-expand span {
    color: #ffffff;
    font-size: 22px;
    line-height: 40px;
    vertical-align: bottom;
    margin-left: 10px;
}

/* logout */
#admin-dashboard-container-expand a:last-child {
    margin: auto 0 2vh;
}

#admin-dashboard-container-expand p {
    color: #ffffff69;
    font-size: 22px;
    margin: 20px 30px 10px;
}

#admin-dashboard-container-expand .admin-dashboard-icon {
    margin-left: 30px;
    height: 4vh;
    object-fit: contain;
    margin: 10px 0;
}

#admin-dashboard-container-expand .admin-dashboard-line {
    width: 240px;
    margin: 1vh 30px 0;
    border-color: rgba(255, 255, 255, 0.164);
}

/* Minimize icon (<<)*/
#admin-dashboard-minimize-icon {
    width: 20px;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 40px;
    margin-top: 2vh;
}

/* Minimized dashboard */
#admin-dashboard-container-minimize {
    width: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#admin-dashboard-container-minimize .admin-dashboard-icon {
    height: 4vh;
    object-fit: contain;
    margin: 1vh 0;
}

/* Expand icon (>>)*/
#admin-dashboard-expand-icon {
    width: 20px;
    cursor: pointer;
    margin-top: 2vh;
}

#admin-dashboard-container-minimize a {
    text-decoration: none;
}

#admin-dashboard-container-minimize p {
    color: #ffffff69;
    font-size: 15px;
    margin: 3vh 0 1.5vh;
}

#admin-dashboard-container-minimize .admin-dashboard-line {
    width: 3vw;
    border-color: rgba(255, 255, 255, 0.164);
    margin-top: 0.5vh;
}

/* logout */
#admin-dashboard-container-minimize a:last-child {
    margin: auto 0 25px;
}

.hidden {
    display: none;
}

/* Inventory management and add food edit, delete, save, cancel button */
.inventory-edit-value,
.inventory-save-button,
.inventory-cancel-button,
.add-menu-edit-value,
.add-menu-save-button,
.add-menu-cancel-button{
    display: none;
}

.inventory-edit-button,
.inventory-save-button,
.inventory-cancel-button,
.inventory-delete-button,
.inventory-add-button,
.add-menu-edit-button,
.add-menu-save-button,
.add-menu-cancel-button{
    background-color: white;
    color: #000000;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 20px;
    width: 90px;
    margin: auto;
}

.inventory-delete-button-no{
    background-color: #999999;
    color: #000000;
    border: none;
    padding: 5px;
    cursor: not-allowed;
    border-radius: 5px;
    font-size: 20px;
    width: 90px;
    margin: auto;
}

.menu-delete-button{
    margin:auto 0 0;
    background-color: rgb(255, 71, 71);
    width: 25vw;
    height: 30px;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
}

.menu-delete-button-no{
    margin:auto 0 0;
    background-color: rgb(70, 70, 70);
    color: #ffffff;
    width: 25vw;
    height: 30px;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    cursor: not-allowed;
}

.menu-delete-button-no i{
    color: #ffffff;
}

/* Inventory management */
.inventory-table,
.inventory-table-title,
.inventory-table-col{
    border: #000000 2px solid;
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
    background: linear-gradient(135deg, #fff3e8, #f3d7d7);
    font-size: 20px;
}

.inventory-table input{
    font-size: 20px;
}

.inventory-table a{
    text-decoration: none;
}

.inventory-error{
    color: red;
    font-size: 30px;
    text-align: center;
}

/*search*/
.search-form{
    border: solid 2px #000000;
    padding: 5px;
    margin-right: 5px;
}

.search-form button,
.search-form input,
.search-form input:focus{
    font-size: 20px;
    border:none;
    outline: none;
}

.search-form button{
    border-right: solid 2px #000000;
    padding-right: 5px;
}

.search-form button{
    background: none;
}

.search-header{
    font-size: 30px;
    font-weight: bold;
    margin: 25px 25px;

}

.search-container{
    display: flex;
}

.search-result{
    display: flex;
    flex-wrap: wrap;
    margin: 25px 25px;
    font-size: 20px;
}

.search-img{    
    height: 150px;
    width: 300px;
    object-fit: cover;
    margin-right: 10px;
}

.search-separate-line{
    width: 100vw;
    border: solid 0.5px rgba(0, 0, 0, 0.164);
}

.no-result{
    font-size: 30px;
    font-weight: bold;
    margin: 25px 25px;
}

.search-filter-form{
    display: flex;
    flex-direction: column;
    min-width: 8vw;
    border-right: solid 0.5px rgba(0, 0, 0, 0.164);
    height: 100vh;
    padding: 5vh 1vw 0;
}