:root {
    --color-1: #473447;
    --color-2: #e8dcd4;
    --color-3: #e0ccd4;
    --color-4: #e0e4e4;
    --color-5: #ccdcd0;
}

/* Admin article */
.admin-article {
    margin-left: 5vw;
}

/* Add menu */
.food-logo {
    object-fit: cover;
    width: 25vw;
    height: 30vh;
    border-radius: 20px 20px 0 0;
}

.add-menu-title {
    font-size: 60px;
    text-align: center;
    margin: 25px 0;
}

.add-menu-container {
    margin: 100px 0;
}

.add-menu-container .row-add-menu {
    display: flex;
    margin: 50px 0;
}

.add-menu-container .row-add-menu .col-add-menu {
    background-color: var(--color-2);
    height: 50vh;
    width: 25vw;
    margin: 0 calc(20vw/6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: #00000029 0px 1px 4px;
}

.add-menu-container .row-add-menu .col-add-menu .col-add-menu-info-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
    margin: 0 10px;
}

.col-add-menu-info-title {
    font-size: 40px;
    font-weight: bold;
}

.add-menu-container .row-add-menu .col-add-menu .col-add-menu-info-col p {
    font-size: 20px;
    overflow-wrap: break-word;
}

.add-menu-container .row-add-menu .col-add-menu a {
    margin: auto;
    font-size: 100px;
    font-weight: 900;
}

.add-menu-container .row-add-menu .col-add-menu a:link {
    text-decoration: none;
}

/* Add menu & food form*/
.add-menu-form {
    background-color: var(--color-2);
    border-radius: 10px;
    width: 40vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    box-shadow: #00000029 0px 1px 4px;
}

.add-menu-form div {
    margin: 30px 20px;
}

.add-menu-form-title {
    font-size: 60px;
    text-align: center;
}

.add-menu-form input[type="file"] {
    padding: 0;
}

.add-menu-form input[type=file]::file-selector-button {
    background-color: var(--color-1);
    color: #ffffff;
    border-radius: 5px;
}

.add-menu-form input {
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
}

#food-description {
    font-size: 25px;
    padding: 10px;
    resize: none;
    border-radius: 5px;
}

.add-menu-form button {
    margin: 10px 20px;
    background-color: var(--color-1);
    color: #ffffff;
    border-radius: 10px;
    width: calc(40vw - 40px);
    font-size: 40px;
    padding: 5px;
}

.add-menu-form input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.food-description-div input {
    width: 30vw;
}

/* Add menu dropdown checkbox*/
.food-dropdown-check-list #food-dropdown-anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 3px solid var(--color-1);
}

/* Create arrow */
.food-dropdown-check-list #food-dropdown-anchor:after {
    position: absolute;
    content: "";
    border-left: 3px solid black;
    border-top: 3px solid black;
    padding: 5px;
    top: 30%;
    right: 8%;
    transform: rotate(-135deg);
}

/* Hide dropdown at default */
.food-dropdown-check-list ul {
    padding: 5px;
    display: none;
    border: 3px solid var(--color-1);
}

.food-dropdown-check-list ul li {
    list-style: none;
}

/* Make dropdown visible */
.food-dropdown-check-list.visible ul{
    display: block;
}

/* Admin dashboard */
.admin-dashboard-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-1);
    width: 15vw;
    position: fixed;
    height: 100vh;
    align-items: start;
}

#admin-dashboard-container-expand a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 0;
}

#admin-dashboard-container-expand span {
    color: #ffffff;
    font-size: 22px;
    line-height: 40px;
    vertical-align: bottom;
    margin-left: 10px;
}

/* logout */
#admin-dashboard-container-expand a:last-child {
    margin: auto 0 25px;
}

#admin-dashboard-container-expand p {
    color: #ffffff69;
    font-size: 22px;
    margin: 40px 30px 20px;
}

#admin-dashboard-container-expand .logo {
    margin: 0;
    display: flex;
    align-items: center;
}

#admin-dashboard-container-expand .logo img {
    width: 75px;
    margin: 10px;
}

#admin-dashboard-container-expand .logo-text {
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}

#admin-dashboard-container-expand .admin-dashboard-icon {
    margin-left: 30px;
    height: 40px;
    object-fit: contain;
    margin: 10px 0;
}

#admin-dashboard-container-expand .admin-dashboard-line {
    width: 240px;
    margin: 40px 30px 0;
    border-color: rgba(255, 255, 255, 0.164);
}

/* Minimize icon (<<)*/
#admin-dashboard-minimize-icon {
    width: 20px;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 40px;
    margin-top: 20px;
}

/* Minimized dashboard */
#admin-dashboard-container-minimize {
    width: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#admin-dashboard-container-minimize .logo img {
    margin: 10px auto 20px;
    width: 75px;
}

#admin-dashboard-container-minimize .admin-dashboard-icon {
    width: 40px;
    object-fit: contain;
    margin: 10px 0;
}

/* Expand icon (>>)*/
#admin-dashboard-expand-icon {
    width: 20px;
    cursor: pointer;
    margin-top: 20px;
}

#admin-dashboard-container-minimize a {
    text-decoration: none;
}

#admin-dashboard-container-minimize p {
    color: #ffffff69;
    font-size: 15px;
    margin: 40px 0 20px;
}

#admin-dashboard-container-minimize .admin-dashboard-line {
    width: 3vw;
    border-color: rgba(255, 255, 255, 0.164);
    margin-top: 10px;
}

/* logout */
#admin-dashboard-container-minimize a:last-child {
    margin: auto 0 25px;
}

.hidden {
    display: none;
}