:root {
    --color-1: #473447;
    --color-2: #e8dcd4;
    --color-3: #e0ccd4;
    --color-4: #e0e4e4;
    --color-5: #ccdcd0;
    --color-6: #c5a799;
}

/* Add menu */
.food-logo{
    object-fit:cover;
    max-width: 18vw;
    border-radius: 20px 0 0 20px;
    margin-right: auto;
}

.add-menu-container{
    margin-top: 100px;
}

.add-menu-container .row-add-menu{
    display: flex;
    margin: 50px 0;
}

.add-menu-container .row-add-menu .col-add-menu {
    background-color: var(--color-6);
    height: 30vh;
    min-width: 25vw;
    margin: 0 4vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: #000000;
    
}

.add-menu-container .row-add-menu .col-add-menu .col-add-menu-info-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 7vw;
}

.col-add-menu-info-title{
    font-size: 40px;
    font-weight: bold;
}


.add-menu-container .row-add-menu  .col-add-menu .col-add-menu-info-col p{
    font-size: 20px;
    color: #ffffff;
    overflow-wrap: break-word;
}

.add-menu-container .row-add-menu .col-add-menu a{
    margin:auto;
    color: #ffffff;
    font-size: 100px;
    font-weight: 900;
}

.add-menu-container .row-add-menu .col-add-menu a:link {
    text-decoration: none;
}

/* Add menu & food form*/
.add-menu-form{
    background-color: var(--color-2);
    border-radius: 20px;
    width: 40vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

.add-menu-form div{
    margin: 30px 20px;
}

.add-menu-form-title {
    font-size: 60px;
    text-align: center;
}

.add-menu-form input{
    font-size: 25px;
}

.add-menu-form button{
    margin: 10px 20px;
    background-color:  var(--color-1);
    color: #ffffff;
    border-radius: 20px;
    width: calc(40vw - 40px);
    font-size: 40px;
    padding: 5px;
}

.add-menu-form input[type="checkbox"]{
    width: 25px;
    height: 25px;
}

.food-description-div input{
    width: 30vw;
}
