/* login */
.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8dcd4;
}

.container-login .panel {
    background-color: #ffffff;
    width: 400px;
    height: 450px;
    box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
    text-align: center;
    padding: 50px 0;
    border-radius: 10px;
}

.container-login .panel h1 {
    margin-top: 20px;
    font-size: 28px;
}

.container-login .panel>p {
    padding: 20px 60px;
    margin-bottom: 50px;
    font-size: 14px;
}

.container-login .panel form input {
    width: 80%;
    font-size: 18px;
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: #0000000d 0px 0px 0px 1px, #b1b3b6 0px 0px 0px 1px inset;
    box-sizing: border-box;
}

.container-login .panel form p {
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
}

.container-login .panel form button {
    width: 80%;
    font-size: 18px;
    padding: 18px 20px;
    background-color: #473447;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
}

.container-register-page {
    text-align: center;
}

.register-form input,
.register-form label {
    font-size: 15px;
}

.register-form input {
    background-color: #473447;
    border-radius: 5px;
    font-size: 20px;
}

.register-submit-button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.register-submit-button:hover {
    background-color: #fff;
    color: #312431;
    transform: scale(1.1);
    transition: 0.5s;
}

.login-here {
    text-decoration: none;
    font-style: italic;
}

.login-here:hover {
    cursor: pointer;
    color: #2b0548;
    transition: 0.2s;
}

/* register success page */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #473447;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #2b0548;
    transform: scale(1.1);
    transition: 0.5s;
}

/* Login page */
.login-submit-button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #473447;
    border-radius: 5px;
    cursor: pointer;
}

.login-submit-button:hover {
    background-color: #fff;
    color: #312431;
    transform: scale(1.1);
    transition: 0.5s;
}

/* Admin Dashboard Page */
.container-admin-dashboard {
    text-align: center;
    background-color: var(--color-2);
    height: 100vh;
}

.container-admin-dashboard h1 {
    font-size: 50px;
    padding: 50px 0;
}

.container-admin-dashboard a {
    text-decoration: none;
    margin: 0 20px;
    padding: 10px;
    font-size: 30px;
    background-color: #ffff;
    border-radius: 5px;
}

.container-admin-dashboard a:hover {
    background-color: #312431;
    color: #ffff;
    transition: 0.5s;
}

/* Register successful page */
.container-register-successful {
    background-color: var(--color-2);
    height: 100vh;
    text-align: center;
    padding-top: 50px;
}

/* Access denied page */
.container-access-denied {
    background-color: var(--color-2);
    height: 100vh;
    text-align: center;
    padding-top: 50px;
}