/* login */
.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #e8dcd4;
}

.container-login .panel {
    background-color: #ffffff;
    width: 400px;
    height: 500px;
    box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
    text-align: center;
    padding: 20px 0 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.container-login .panel h1 {
    margin-top: 30px;
    font-size: 28px;
}

.container-login .panel>p {
    padding: 20px 60px;
    margin-bottom: 30px;
    font-size: 14px;
}

.container-login .panel form input {
    width: 80%;
    font-size: 18px;
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: #0000000d 0px 0px 0px 1px, #b1b3b6 0px 0px 0px 1px inset;
    box-sizing: border-box;
}

.container-login .panel form p {
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.container-login .panel form button {
    width: 80%;
    font-size: 18px;
    padding: 18px 20px;
    background-color: #473447;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
}

/* register page */
.container-register-page {
    height: 100vh;
    background-color: #e8dcd4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-left-column {
    width: 300px;
    margin: 20px 50px 0 40px;
}

.register-right-column {
    width: 300px;
    margin: 20px 40px 0 50px;
}

.register-left-column h2,
.register-right-column h2 {
    margin-bottom: 10px;
}

.register-left-column p,
.register-right-column p {
    opacity: 50%;
    font-size: 14px;
    margin-bottom: 20px;
}

.container-register-page .register-left-column>div,
.container-register-page .register-right-column>div {
    display: flex;
    flex-direction: column;
}

.container-register-page form input,
.container-register-page form textarea {
    padding: 15px 20px;
    border: 1px solid #00000077;
    border-radius: 5px;
    margin: 5px 0;
}

.container-register-page #streetAddress {
    resize: none;
    height: 50px;
}

.register-centre-column select {
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.container-register-page form ::placeholder {
    font-size: 15px;
}

.register-submit-button {
    background-color: var(--color-1);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.register-submit-button:hover {
    background-color: #ffffff;
    color: var(--color-1);
    border-color: #ffffff;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.register-box-columns {
    display: flex;
}

.register-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, #fff3e8, #f3d7d7);
}

.register-error-messages {
    text-align: center;
}

.register-error-messages p {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: larger;
}

.login-here {
    text-decoration: none;
    font-style: italic;
}

.login-here:hover {
    cursor: pointer;
    color: #2b0548;
    transition: 0.2s;
}

/* Login page */
.login-submit-button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #473447;
    border-radius: 5px;
    cursor: pointer;
}

.login-submit-button:hover {
    background-color: #fff;
    color: #312431;
    transform: scale(1.1);
    transition: 0.5s;
}

/* Admin Dashboard Page */
.container-admin-dashboard {
    text-align: center;
    background-color: var(--color-2);
    height: 100vh;
}

.container-admin-dashboard h1 {
    font-size: 50px;
    padding: 50px 0;
}

.container-admin-dashboard a {
    text-decoration: none;
    margin: 0 20px;
    padding: 10px;
    font-size: 30px;
    background-color: #ffff;
    border-radius: 5px;
}

.container-admin-dashboard a:hover {
    background-color: #312431;
    color: #ffff;
    transition: 0.5s;
}

/* Admin Register page */
.container-admin-register-page {
    height: 120vh;
    background-color: var(--color-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-register-left-column {
    width: 300px;
    margin: 20px 50px 0 40px;
}

.admin-register-right-column {
    width: 300px;
    margin: 20px 40px 0 50px;
}

.admin-register-centre-column {
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.admin-register-centre-column #accountType {
    padding: 10px 20px;
    text-align: left;
}

.admin-register-centre-column select,
.admin-register-centre-column button {
    margin-bottom: 10px;
}

.admin-register-left-column h2,
.admin-register-right-column h2 {
    margin-bottom: 10px;
}

.admin-register-left-column p,
.admin-register-right-column p {
    opacity: 50%;
    font-size: 14px;
    margin-bottom: 20px;
}

.container-admin-register-page .admin-register-left-column>div,
.container-admin-register-page .admin-register-right-column>div {
    display: flex;
    flex-direction: column;
}

.container-admin-register-page form input,
.container-admin-register-page form textarea {
    padding: 15px 20px;
    border: 1px solid #00000077;
    border-radius: 5px;
    margin: 5px 0;
}

.container-admin-register-page #streetAddress {
    resize: none;
    height: 50px;
}

.admin-register-centre-column select {
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.container-admin-register-page form ::placeholder {
    font-size: 15px;
}

.admin-register-submit-button {
    background-color: var(--color-1);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.admin-register-submit-button:hover {
    background-color: #ffffff;
    color: var(--color-1);
    border-color: #ffffff;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.admin-register-box-columns {
    display: flex;
}

.admin-register-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, #fff3e8, #f3d7d7);
}

/* Register successful page */
.container-register-successful {
    background-color: var(--color-2);
    height: 100vh;
    text-align: center;
    padding-top: 50px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #473447;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #2b0548;
    transform: scale(1.1);
    transition: 0.5s;
}

.container-register-successful p {
    padding-bottom: 20px;
}

/* Access denied page */
.container-access-denied {
    background-color: var(--color-2);
    height: 100vh;
    text-align: center;
    padding-top: 50px;
}

/* Feedback page */
.container-feedback-page {
    background-color: var(--color-2);
    height: 100vh;
    text-align: center;
    padding-top: 30px;
}

.box-feedback-page {
    border: 1px solid #00000077;
    border-radius: 10px;
    padding: 50px;
    background: linear-gradient(135deg, #fff3e8, #f3d7d7);
    display: inline-block;
    margin: 20px;
}

.container-feedback-page p {
    padding: 3px 0;
    font-size: 13px;
    opacity: 0.7;
}

.container-feedback-page h2 {
    font-size: 18px;
    padding-bottom: 3px;
}

.container-feedback-page h3 {
    font-size: 15px;
    font-weight:500;
    padding-top: 10px;
}

.container-feedback-page form input,
.container-feedback-page form textarea,
.container-feedback-page form select {
    padding: 5px;
    border: 1px solid #00000077;
    border-radius: 5px;
    margin: 5px 0;
}

.container-feedback-page form ::placeholder {
    font-size: 13px;
}

.container-feedback-page form button {
    background-color: var(--color-1);
    color: #ffffff;
    padding: 8px 14px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 10px;
}

.container-feedback-page form button:hover {
    background-color: #ffffff;
    color: var(--color-1);
    border-color: #ffffff;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.feedback-box-columns {
    padding-top: 10px;
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

.feedback-left-column {
    padding: 0 10px;
    margin-right: 125px;
    display: flex;
    flex-direction: column;
}

.feedback-box input[type="text"],
.feedback-box input[type="email"] {
    width: 90%;
    margin: 8px auto;
}

.feedback-right-column {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.feedback-box textarea {
    width: 95%;
    margin: 5px auto;
    resize: none;
    height: 100px;
}

.star {
    cursor: pointer;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 1px 1px 1px #000000;
    padding: 0 4px;
}

.rating-slider {
    display: none;
}

/* feedback successful page */
.container-feedback-successful {
    background-color: var(--color-2);
    height: 100vh;
    text-align: center;
    padding-top: 50px;
}

.container-feedback-successful p {
    padding-bottom: 10px;
}

.container-feedback-successful .button {
    margin-top: 20px;
}

/* Admin view feedback page */
.container-admin-view-feedback {
    background-color: var(--color-2);
    text-align: center;
    height: 100vh;
    padding-top: 30px;
}

.container-admin-view-feedback p {
    padding: 5px 0;
}

.container-admin-view-feedback i {
    color: gold;
}

.container-admin-view-feedback select {
    padding: 5px;
    border: 1px solid #00000077;
    border-radius: 5px;
    display: flex;
    margin: 5px auto;
    background-color: rgb(242, 242, 242);
}

.container-admin-view-feedback form button {
    background-color: var(--color-1);
    color: #ffffff;
    padding: 8px 14px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 10px;
}

.container-admin-view-feedback form button:hover {
    background-color: #ffffff;
    color: var(--color-1);
    border-color: #ffffff;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.container-admin-view-feedback table {
    margin: 20px auto;
    width: 90%;
    border: 3px solid var(--color-1);
    border-collapse: collapse;
    background: linear-gradient(135deg, #fff3e8, #f3d7d7);
}

.container-admin-view-feedback table th,
.container-admin-view-feedback table td {
    border: 1px solid var(--color-1);
    padding: 10px;
}