/* login */
.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #e8dcd4;
}

.container-login .panel {
    background-color: #ffffff;
    width: 400px;
    height: 500px;
    box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
    text-align: center;
    padding:20px 0 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.container-login .panel h1 {
    margin-top: 30px;
    font-size: 28px;
}

.container-login .panel>p {
    padding: 20px 60px;
    margin-bottom: 30px;
    font-size: 14px;
}

.container-login .panel form input {
    width: 80%;
    font-size: 18px;
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: #0000000d 0px 0px 0px 1px, #b1b3b6 0px 0px 0px 1px inset;
    box-sizing: border-box;
}

.container-login .panel form p {
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.container-login .panel form button {
    width: 80%;
    font-size: 18px;
    padding: 18px 20px;
    background-color: #473447;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
}

/* register page */
.container-register-page {
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-left-column {
    width: 300px;
    margin: 20px 50px 0 40px;
}

.register-right-column {
    width: 300px;
    margin: 20px 40px 0 50px;
}

.register-left-column h2,
.register-right-column h2 {
    margin-bottom: 10px;
}

.register-left-column p,
.register-right-column p {
    opacity: 50%;
    font-size: 14px;
    margin-bottom: 20px;
}

.container-register-page .register-left-column>div,
.container-register-page .register-right-column>div {
    display: flex;
    flex-direction: column;
}

.container-register-page form input,
.container-register-page form textarea {
    padding: 15px 20px;
    border: 1px solid #00000077;
    border-radius: 5px;
    margin: 5px 0;
}

.container-register-page #streetAddress {
    resize: none;
    height: 50px;
}

.register-centre-column select {
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.container-register-page form ::placeholder {
    font-size: 15px;
}

.register-submit-button {
    background-color: var(--color-1);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.register-submit-button:hover {
    background-color: #ffffff;
    color: var(--color-1);
    border-color: #ffffff;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.register-box-columns {
    display: flex;
}

.register-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, #fff3e8, #f3d7d7);
}

.login-here {
    text-decoration: none;
    font-style: italic;
}

.login-here:hover {
    cursor: pointer;
    color: #2b0548;
    transition: 0.2s;
}

/* register success page */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #473447;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #2b0548;
    transform: scale(1.1);
    transition: 0.5s;
}

/* Login page */
.login-submit-button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #473447;
    border-radius: 5px;
    cursor: pointer;
}

.login-submit-button:hover {
    background-color: #fff;
    color: #312431;
    transform: scale(1.1);
    transition: 0.5s;
}

/* Admin Dashboard Page */
.container-admin-dashboard {
    text-align: center;
    background-color: var(--color-2);
    height: 100vh;
}

.container-admin-dashboard h1 {
    font-size: 50px;
    padding: 50px 0;
}

.container-admin-dashboard a {
    text-decoration: none;
    margin: 0 20px;
    padding: 10px;
    font-size: 30px;
    background-color: #ffff;
    border-radius: 5px;
}

.container-admin-dashboard a:hover {
    background-color: #312431;
    color: #ffff;
    transition: 0.5s;
}

/* Admin Register page */
.container-admin-register-page {
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-register-left-column {
    width: 300px;
    margin: 20px 50px 0 40px;
}

.admin-register-right-column {
    width: 300px;
    margin: 20px 40px 0 50px;
}

.admin-register-centre-column {
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.admin-register-centre-column #accountType{
    padding: 10px 20px;
    text-align: left;
}

.admin-register-centre-column select,
.admin-register-centre-column button
{
    margin-bottom: 10px;
}

.admin-register-left-column h2,
.admin-register-right-column h2{
    margin-bottom: 10px;
}

.admin-register-left-column p,
.admin-register-right-column p {
    opacity: 50%;
    font-size: 14px;
    margin-bottom: 20px;
}
.container-admin-register-page .admin-register-left-column> div,
.container-admin-register-page .admin-register-right-column> div 
{
    display: flex;
    flex-direction: column;
}

.container-admin-register-page form input,
.container-admin-register-page form textarea{
    padding: 15px 20px;
    border: 1px solid #00000077;
    border-radius: 5px;
    margin: 5px 0;
}

.container-admin-register-page #streetAddress {
    resize: none; 
    height: 50px;
}

.admin-register-centre-column select {
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.container-admin-register-page form ::placeholder {
    font-size: 15px;
}

.admin-register-submit-button {
    background-color: var(--color-1);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.admin-register-submit-button:hover {
    background-color: #ffffff;
    color: var(--color-1);
    border-color: #ffffff;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.admin-register-box-columns {
    display: flex;
}

.admin-register-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, #fff3e8, #f3d7d7);
}

/* Register successful page */
.container-register-successful {
    background-color: var(--color-2);
    height: 100vh;
    text-align: center;
    padding-top: 50px;
}

/* Access denied page */
.container-access-denied {
    background-color: var(--color-2);
    height: 100vh;
    text-align: center;
    padding-top: 50px;
}