/* Styles for the container-purchase-page */
.container-purchase-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles for the h1 heading */
.container-purchase-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin: 0 auto;
}

/* Styles for the container-purchase-page */
.container-purchase-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles for the h1 heading */
.container-purchase-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styles for the main container holding the tables and form */
.container-purchase-page form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

/* Styles for the cart items table */
#display_purchase_item_table {
    border-collapse: collapse;
    margin-left: -150px;
    font-size: 18px;
    font-family: sans-serif;
    min-width: 500px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

#display_purchase_item_table thead tr {
    color: #e0ccd4;
    background-color: #473447;
    text-align: left;
}

#display_purchase_item_table thead tr th{
    color: #ffffff;
}

#display_purchase_item_table tbody {
    background-color: #D3D3D3; /* Gray background color */
}

#display_purchase_item_table th,
#display_purchase_item_table td {
    padding: 12px 15px;
}


#display_purchase_item_table tbody tr:last-of-type {
    border-bottom: 2px solid #473447;
}

/* Styles for the purchase form table */
#purchase_form_table {
    width: 45%; /* Adjust the width as needed */
}

/* Styles for the form labels and input fields */
#purchase_form_table label {
    font-weight: bold;
}

#purchase_form_table input[type="text"],
#purchase_form_table input[type="date"],
#purchase_form_table textarea{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#purchase_form_table select{
    width: 105%;
    padding: 5px;
    margin-bottom: 10px;
}

/* Styles for the "Next" button */
#purchase_form_table button[type="submit"] {
    background-color: #473447;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px 5px 5px 5px;
}

#purchase_form_table button[type="submit"]:hover {
    background-color: #322032;
    transition: all 0.8s ease;
}

/* Styles for the container-payment-page */
.container-payment-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles for the h1 heading */
.container-payment-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styles for the main form container */
#PaymentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles for the payment_form_table */
#payment_form_table {
    width: 100%;
    border-collapse: collapse;
}

#payment_form_table td {
    padding: 10px;
}

/* Styles for the total price heading */
#payment_form_table h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Styles for the list of orders */
#payment_form_table ul {
    list-style: none;
    padding: 0;
}

#payment_form_table li {
    margin-bottom: 5px;
}

/* Styles for the payment method label and select */
#payment_form_table label {
    font-weight: bold;
}

#payment_form_table select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}


/* Styles for the "Confirm Payment" button */
#payment_form_table button[type="submit"] {
    background-color: #473447;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#payment_form_table button[type="submit"]:hover {
    background-color: #342934;
    transition: all 0.8s ease;
}

#payment_form_table select,
#payment_form_table input[type="text"],
#payment_form_table input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}



/*---------------MEMBERSHIP PAGE-------------*/

.membership-container {
    padding: 20px;
    text-align: center;
    background-color: #e8dcd4;
}

.membership-container h1{
    font-size: 28px;
    margin-bottom: 20px;
}

.membership-container h2{
    font-size: 24px;
    margin-bottom: 20px;
}

.tier-container{
    display: flex;
    justify-content: space-around;
}

.membership-container section{
    width: 30%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#tier1 {
    background-color: #7B4169;
}

#tier2 {
    background-color: #A15589;
}

#tier3 {
    background-color: #B979A5;
}

/* Styling for benefits list */
.benefit-list {
    list-style: disc;
    margin-left: 20px;
    font-size: 14px;
}

.benefit-item {
    margin: 5px 0;
}

/*---------------ORDER TRACKING PAGE-------------*/
