
/* Styles for the h1 heading */
.container-purchase-page h1 {
    font-size: 45px;
    margin-bottom: 20px;
    margin: 0 auto;
}

/* Styles for the container-purchase-page */
.container-purchase-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px;
    background-color: #e8dcd4;
    border-radius: 20px;
    border: 1px solid #000000;
}

#PurchaseForm table{
    padding-right: 100px;
}

/* Styles for the main container holding the tables and form */
.container-purchase-page form {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 120px;
}

#purchase_form_table input,
#purchase_form_table textarea,
#purchase_form_table select {
    box-sizing: border-box;
    width: 100%; 
    padding: 10px 20px;
    border: 1px solid #00000077;
    border-radius: 5px;
    margin: 5px 0;
}

.container-purchase-page select {
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

/* Styles for the cart items table */
#display_purchase_item_table {
    border-collapse: collapse;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    text-align: center;
}

#display_purchase_item_table thead tr {
    background-color: #c5abb6;
    font-size: 20px;
}

#display_purchase_item_table thead tr th{
    color: #000000;
    padding: 25px;
}

#display_purchase_item_table tbody {
    background-color: #e0ccd4; /* Gray background color */
}

#display_purchase_item_table th,
#display_purchase_item_table td {
    padding: 12px 15px;
}


#display_purchase_item_table tbody tr:last-of-type {
    border-bottom: 2px solid #473447;
}

/* Styles for the purchase form table */
#purchase_form_table {
    width: 45%; /* Adjust the width as needed */
}

/* Styles for the form labels and input fields */
#purchase_form_table label {
    font-weight: bold;
}

/* Styles for the "Next" button */
#purchase_form_table button[type="submit"] {
    background-color: #473447;
    color: #fff;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px 5px 5px 5px;
}

#purchase_form_table button[type="submit"]:hover {
    background-color: #e0ccd4;
    transition: all 0.3s ease;
}

.purchase_error{
    color: red;
}

/* Styles for the container-payment-page */
.container-payment-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    background-color: #e8dcd4;
    border-radius: 20px;
    border: 1px solid #000000;
}

/* Styles for the h1 heading */
.container-payment-page h1{
    font-size: 40px;
    padding-bottom: 65px;
}

#payment-total-price{
    font-size: 28px;
    font-family: sans-serif;
    color: #674c64;
    font-weight: 560;
    padding-bottom: 65px;
    text-align: center;
}

/* Styles for the payment_form_table */
#payment_form_table {
    border-collapse: collapse;
    text-align: center;
}

#OnlineBankingForm label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

#CreditCardForm label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

#DebitCardForm label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

#EwalletForm label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

#payment_form_table td {
    font-size: 20px;
    padding: 10px;
}

/* Styles for the total price heading */
#payment_form_table h1 {
    padding-top: 30px;
    font-size: 25px;
}

.payment-form-input-field{
    text-align: left;
}

/* Styles for the "Confirm Payment" button */
#payment_form_table button[type="submit"] {
    background-color: #473447;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;

}

#payment_form_table button[type="submit"]:hover {
    background-color: #e0ccd4;
    transition: all 0.3s ease;
}

#payment_form_table input,
#payment_form_table textarea,
#payment_form_table select {
    box-sizing: border-box;
    padding: 10px 20px;
    border: 1px solid #00000077;
    border-radius: 5px;
    margin: 5px 0;
    width: 100%; 
}

#payment_form_table select{
    width: 300px;
}

.payment_error{
    color: red;
}

/*---------------MEMBERSHIP PAGE-------------*/
.membership-container {
    padding: 20px;
    text-align: center;
    background-color: #e8dcd4;
}

.membership-container h1{
    font-size: 28px;
    margin-bottom: 20px;
}

.membership-container h2{
    font-size: 24px;
    margin-bottom: 10px;
}

.tier-container{
    display: flex;
    justify-content: space-around;
}

.tier-container h2{
    padding: 0 0 30px 0;
}

.tier-container ul li{
    list-style: none;
    padding: 10px;
    text-align: left;

}

.membership-container section{
    width: 30%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
}

#tier1 {
    background-color: #e8d2d9;
    padding: 50px 0 100px 30px;
}

#tier1 p, #tier2 p, #tier3 p{
    font-size: 20px;
    padding-bottom: 30px;
}

#tier2 {
    background-color: #e0ccd4;
    padding: 50px 0 100px 0;
}

#tier3 {
    background-color: #c5abb6;
    padding: 50px 0 100px 0;
}

/* Styling for benefits list */
.benefit-list {
    list-style: disc;
    margin-left: 20px;
    font-size: 14px;
}

.benefit-item {
    margin: 5px 0;
}

/*---------------ORDER TRACKING PAGE-------------*/
.order-tracking-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    background-color: #e8dcd4;
    border-radius: 10px;
}

.order-tracking-container h1 {
    color: #333;
}

#order-tracking-order-status,
#order-tracking-order-details,
#order-tracking-payment-details,
#order-tracking-company-details {
    margin-bottom: 100px;
}

#order-tracking-order-status h2,
#order-tracking-order-details h2,
#order-tracking-payment-details h2,
#order-tracking-company-details h2 {
    margin-bottom: 20px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#order-tracking-order-status ul li span {
    color: #d44638; /* Amazon's red color for status */
}

/* Add responsive styles if needed */
@media (max-width: 600px) {
    .order-tracking-container {
        padding: 10px;
    }
}

#order-tracking-company-details {
    width: 50%;
    margin-right: 30px;
    background-color: #c5abb6;
    padding: 50px 0 100px 20px;
    border-radius: 10px;
}

#order-tracking-payment-details{
    width: 50%;
    margin-right: 30px;
    background-color: #e0ccd4;
    padding: 50px 0 100px 20px;
    border-radius: 10px;
}

#order-tracking-order-details {
    width: 50%;
    margin-right: 30px;
    background-color: #e8d2d9;
    padding: 50px 0 100px 20px;
    border-radius: 10px;
}

.order-tracking-details{
    display: flex;
    justify-content: space-around;
}
