/* customer order listing */

.customer-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px; 
}

.customer-container-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.customer-container-table  th, 
.customer-container-table  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.customer-container-table  th {
    background-color: #f2f2f2;
}

.view-details-button button {
    background-color: #473447;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
}

.view-details-button button:hover {
    background-color: #e0ccd4;
    color: #000000;
}

/* Profile */
.profile-container {
    background-color: #ffffff;
   
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    max-width: 50vw;
    /* Set a maximum width of 50% of the viewport width */
    margin: 0 auto;
    margin-bottom: 5%;
}

.profile-img img {
    max-width: 150px;
    border-radius: 50%;
}

.profile-table {
    margin-top: 20px;
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

.profile-table th,
.profile-table td {
    text-align: left;
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    color: #000000;
}


.profile-table th#Name {
    font-size: 24px;
    font-weight: bold;
}

.profile-table td {
    font-size: 20px;
}

.profile-table th.user-info {
    text-align: center;
    font-size: 30px;
}

/*order listing details*/
.customer-container-food-menu-container {
    background-color: #f5f5f5; 
    border: 1px solid #ddd; 
    padding: 10px; 
    margin-bottom: 10px; 
}

.customer-container-food-menu-container> p {
    font-size: 18px; 
    font-weight: bold; 
    color: #333; 
}

.customer-container-food-menu-container-food-items {
    margin-top: 5px; 
    font-size: 16px; 
    color: #666666; 
}

.customer-container-cancel-button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
}

.customer-container-cancel-button:hover {
    background-color: darkred;
}


