/* Operation Order Listing */

.container-op-orders{
    display: flex;
    min-height: 100vh;
}

.container-op-orders .container-op-orders-col-1{
    background-color: #e8dcd4;
    display: flex;
    flex-direction: column;
}

.container-op-orders .container-op-orders-col-1 .row h1{
    font-size: 32px;
    margin: 40px 20px;
    text-align: left;
    font-weight: bold;
}

.container-op-orders .container-op-orders-col-1 .row-order-item form{
    margin: 10px 20px;
}

.container-op-orders .container-op-orders-col-1 .row-order-item form button
{
    background-color: #ffffff;
    text-align: left;
    border: none;
    padding: 25px;
    width: 350px;
}

.container-op-orders .container-op-orders-col-1 .row-order-item form button p:first-child
{
    font-size: 18px;
}

.container-op-orders .container-op-orders-col-2{
    width: 100%;
   padding: 50px;
}

.container-op-orders .container-op-orders-col-2 div{
    margin-bottom: 50px;
}

.container-op-orders .container-op-orders-col-2 div:last-child p{
    text-align: right;
}

.container-op-orders .container-op-orders-col-2 h2{
    font-size: 24px;
    margin: 20px 0;
}

.container-op-orders .container-op-orders-col-2 details summary{
    cursor: pointer;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4ecec;
}

.container-op-orders .container-op-orders-col-2 details .container-food-item{
    table-layout: fixed;
    width: 100%;
    padding: 0 20px;
}

.container-op-orders .container-op-orders-col-2 details table tr td{
    padding: 10px;
}

.container-op-orders .container-op-orders-col-2 details table tr td:last-child{
    text-align: right;
}


.container-op-orders .container-food-image{
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
}

.container-op-orders .container-food-image img{
    max-width: 100%;
    max-height: 100%;
}