:root {
    --color-1: #473447;
    --color-2: #e8dcd4;
    --color-3: #fd6085;
    --color-4: #e0e4e4be;
    --color-5: #ccdcd0;
    --color-6: #c5a799;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

body {
    height: 100%;
    width: 100%;
}

/* header */
header {
    background-color: #ffffff;
    box-shadow: #00000029 0px 1px 4px;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

header .logo img {
    width: 50px;
}

header .logo-text {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

header div nav{
    margin-right: 100px;
}

header div nav ul {
    list-style-type: none;
}

header div nav ul li {
    display: inline-block;
}

header div nav ul li a {
    display: block;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
}

header>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .login {
    justify-self: flex-end;
    position: relative;
}

header .login i {
    font-size: 36px;
    color: #473447;
    cursor: pointer;
}

header .container-header-login{
    position: absolute;
    top: 120%;
    right: 0;
    background-color: #ffffff;
    min-width: 200px;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: #0000003d 0px 3px 8px;
    flex-direction: column;
    overflow: hidden;
}

header .container-header-login .row-header-login{
    width: 100%;
}

header .container-header-login .row-header-login:first-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #0000001a;
}

header .container-header-login .row-header-login p{
    padding: 10px 20px;
    flex: 1;
    font-size: 18px;
    font-weight: bold;
}

header .container-header-login .row-header-login a.logout{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    color: #fd6085;
    font-weight: bold;
}

header .container-header-login .row-need-login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container-header-login .row-need-login a.login{
    flex: 1;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: bold;
}

header .container-header-login a.login:hover{
    background-color: #e0e4e4be;
}

header .container-header-login .row-header-login:last-child{
    display: flex;
}

header .container-header-login .row-header-login a.profile{
    flex: 1;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.3s ease;
}

header .container-header-login .row-header-login a.profile:hover{
    background-color: #e0e4e4be;
}

header .notification {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

header .notification>i {
    font-size: 28px;
    color: #473447;
    cursor: pointer;
}

header .notification>i:hover {
    opacity: 80%;
}

header .notification .indicator {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #fd6085;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

header .container-notification{
    position: absolute;
    top: 150%;
    right: -200%;
    width: 350px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    display: none;
    box-shadow: #0000003d 0px 3px 8px;
}

header .container-notification .col-notification{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #0000001a;
}

header .container-notification .col-notification h2{
    flex: 1;
}

header .container-notification .col-notification i{
    text-align: right;
    margin-left: 15px;
    margin-right: 15px;
    opacity: 80%;
    color: #473447;
    font-size: 24px;
}

header .container-notification .col-notification i:hover{
    opacity: 100%;
}

header .container-notification h2{
    font-size: 18px;
    padding: 15px;
}

header .container-notification p{
    padding: 15px;
}


/* header .search-bar {
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
}

header .search-bar input {
    color: #ffffff;
    height: 100%;
    background-color: var(--color-1);
    border: none;
    font-size: 14px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 0px 20px;
}

header .search-bar input::placeholder {
    color: #ffffff;
    opacity: 80%;
}

header .search-bar input:focus {
    outline: none;
    box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
}

header .search-bar button {
    height: 100%;
    background-color: var(--color-1);
    border: none;
    color: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 12px;
}

header .search-bar button i {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
} */

/* footer */
footer {
    background-color: var(--color-1);
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #ffffff;
    font-size: 20px;
}

footer .footer-logo img{
    width: 75px;
    height: 75px;
}

footer .footer-logo-text{
    text-decoration: none;
}

footer .footer-copyright{
    font-size: 15px;
    color: #ffffff7c;
}

/* article */
article {
    min-height: 100vh;
    overflow: hidden;
    /* background-color: var(--color-2); */
}

/* login */
/* .container-login {
    background-color: var(--color-2);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login .panel {
    background-color: #ffffff;
    width: 400px;
    height: 450px;
    box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
    text-align: center;
    padding: 50px 0;
}

.container-login .panel h1 {
    margin-top: 20px;
    font-size: 28px;
}

.container-login .panel>p {
    padding: 20px 60px;
    margin-bottom: 50px;
    font-size: 14px;
}

.container-login .panel form input {
    width: 80%;
    font-size: 18px;
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: #0000000d 0px 0px 0px 1px, #b1b3b6 0px 0px 0px 1px inset;
    box-sizing: border-box;
}

.container-login .panel form p {
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
}

.container-login .panel form button {
    width: 80%;
    font-size: 18px;
    padding: 18px 20px;
    background-color: var(--color-1);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
} */

/* Title */
/* .title {
    font-size: 45px;
    text-align: center;
    background-color: var(--color-3);
    padding: 15px;
    margin-bottom: 100px;
    color: #000000;
}





.container-register-page {
    text-align: center;
}

.register-form input,
.register-form label {
    font-size: 15px;
}

.register-form input {
    background-color: var(--color-1);
    border-radius: 5px;
    font-size: 20px;
}

.register-submit-button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.register-submit-button:hover {
    background-color: #fff;
    color: #312431;
    transform: scale(1.1);
    transition: 0.5s;
}

.login-here {
    text-decoration: none;
    font-style: italic;
}

.login-here:hover {
    cursor: pointer;
    color: #2b0548;
    transition: 0.2s;
} */

/* register success page */
/* .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-1);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #2b0548;
    transform: scale(1.1);
    transition: 0.5s;
} */

/* Login page */
/* .login-submit-button {
    font-size: 20px;
    padding: 10px 20px;
    background-color:var(--color-1);
    border-radius: 5px;
    cursor: pointer;
}

.login-submit-button:hover {
    background-color: #fff;
    color: #312431;
    transform: scale(1.1);
    transition: 0.5s;
} */


/* order listing - operation side */
/* .container-op-orders {
    display: flex;
}

.container-op-orders .container:first-child {
    background-color: #e8dcd4;
    padding: 20px 40px;
}

.container-op-orders .row-order-item {
    margin: 10px 0;
}

.container-op-orders .row-order-item form button {
    background-color: #ffffff;
    border: none;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
}

.container-op-orders .row-order-item form button .row {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container-op-orders .row-order-item form button .row p:first-child {
    font-size: 18px;
    margin-bottom: 5px;
}

.container-op-orders .row-order-item form button .col {
    font-size: 14px;
    font-weight: bold;
}

.container-op-orders .container:last-child {
    flex: 1;
    padding: 20px 40px;
}

.container-op-orders .container:last-child .row-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

.container-op-orders .container:last-child .row-details p {
    margin-right: 20px;
    font-size: 18px;
}

.container-op-orders .row-menu {
    margin-top: 50px;
}

.container-op-orders .row-menu summary {
    background-color: #ffffff;
    box-shadow: #43475545 0px 0px 0.25em, #5a7dbc0d 0px 0.25em 1em;
    padding: 20px;
}

.container-op-orders .row-menu .food-item {
    table-layout: fixed;
    width: 100%;
    padding: 0 20px;
    background-color: #ffffff;
}

.container-op-orders .row-menu .food-item{
    padding: 10px;
}

.container-op-orders .row-menu .food-item {
    text-align: right;
}

.container-op-orders .row-menu .food-item .food-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
}

.container-op-orders .row-menu .food-item .food-image img {
    max-width: 100%;
    max-height: 100%;
}

.container-op-orders .row-addon {
    margin-top: 50px;
}

.container-op-orders .row-addon p {
    background-color: #ffffff;
}

.container-op-orders .row-price {
    text-align: right;
    margin-top: 50px;
    background-color: #ffffff;
}

.container-op-orders .row-action {
    display: flex;
    justify-content: flex-end;
}

.container-op-orders .row-action button {
    border: none;
    font-size: 24px;
    padding: 20px;

} */