*{
    /* Add default font */
    color:#ffffff;
}

body{
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #473447;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: block;
}

.logo img{
    width: 100px;
}

header div nav ul{
    list-style-type: none;
}

header div nav ul li{
    display: inline-block;
}

header div nav ul li a{
    display: block;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}

/* Footer */
footer{
    background-color: #473447;
}