:root {
    --color-1: #473447;
    --color-2: #e8dcd4;
    --color-3: #e0ccd4;
    --color-4: #e0e4e4;
    --color-5: #ccdcd0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

body {
    height: 100%;
    width: 100%;
}

/* header */
header {
    background-color: #ffffff;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

header .logo img {
    width: 50px;
}

header .logo-text {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

header div nav ul {
    list-style-type: none;
}

header div nav ul li {
    display: inline-block;
}

header div nav ul li a {
    display: block;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
}

header .search-bar {
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
}

header .search-bar input {
    color: #ffffff;
    height: 100%;
    background-color: #473447;
    border: none;
    font-size: 14px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 0px 20px;
}

header .search-bar input::placeholder {
    color: #ffffff;
    opacity: 80%;
}

header .search-bar input:focus {
    outline: none;
    box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
}

header .search-bar button {
    height: 100%;
    background-color: #473447;
    border: none;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 12px;
}

header .search-bar button i {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

/* footer */
footer {
    background-color: #473447;
    min-height: 300px;
    display: flex;
    justify-content: center;
}

footer p {
    align-self: flex-end;
    color: white;
    font-size: 20px;
}

/* article */
article {
    min-height: 100vh;
}

/* login */
.container-login {
    background-color: #e8dcd4;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login .panel {
    background-color: #ffffff;
    width: 400px;
    height: 450px;
    box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
    text-align: center;
    padding: 50px 0;
}

.container-login .panel h1 {
    margin-top: 20px;
    font-size: 28px;
}

.container-login .panel>p {
    padding: 20px 60px;
    margin-bottom: 50px;
    font-size: 14px;
}

.container-login .panel form input {
    width: 80%;
    font-size: 18px;
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: #0000000d 0px 0px 0px 1px, #b1b3b6 0px 0px 0px 1px inset;
    box-sizing: border-box;
}

.container-login .panel form p {
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
}

.container-login .panel form button {
    width: 80%;
    font-size: 18px;
    padding: 18px 20px;
    background-color: #473447;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
}

/* Title */
.title {
    font-size: 45px;
    text-align: center;
    background-color: #dce0e5;
    padding: 15px;
    margin: 50px 0;
    color: #000000;
    border-radius: 20px;
}

/* Add menu */
.food-logo{
    object-fit:cover;
    max-width: 18vw;
    border-radius: 20px 0 0 20px;
    margin-right: auto;
}

.container .row-add-menu{
    display: flex;
    margin: 50px 0;
}

.container .row-add-menu .col-add-menu {
    background-color: #e1dbd6;
    height: 30vh;
    min-width: 25vw;
    margin: 0 4vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.container .row-add-menu .col-add-menu .col-add-menu-info-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 7vw;
}

.container .row-add-menu  .col-add-menu .col-add-menu-info-title{
    font-weight: bold;
}


.container .row-add-menu  .col-add-menu .col-add-menu-info-col p{
    font-size: 20px;
    color: black;
}

.container .row-add-menu .col-add-menu a{
    margin:auto;
    color: black;
    font-size: 100px;
    font-weight: 900;
}

.container .row-add-menu .col-add-menu a:link {
    text-decoration: none;
}

/* Profile */

.profile-container {
    background-color: #e1dbd6;
    border: 20px solid #cccccc;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    max-width: 50vw;
    /* Set a maximum width of 50% of the viewport width */
    margin: 0 auto;
    margin-bottom: 5%;
}

.profile-img img {
    max-width: 150px;
    border-radius: 50%;
}

.profile-table {
    margin-top: 20px;
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

.profile-table th,
.profile-table td {
    text-align: left;
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    color: black;
}


.profile-table th#Name {
    font-size: 24px;
    font-weight: bold;
}

.profile-table td {
    font-size: 20px;
}

.profile-table th.user-info {
    text-align: center;
    font-size: 30px;
}

.container-register-page {
    text-align: center;
}

.register-form input,
.register-form label {
    font-size: 15px;
}

.register-form input {
    background-color: #473447;
    border-radius: 5px;
    font-size: 20px;
}

.register-submit-button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.register-submit-button:hover {
    background-color: #fff;
    color: #312431;
    transform: scale(1.1);
    transition: 0.5s;
}

.login-here {
    text-decoration: none;
    font-style: italic;
}

.login-here:hover {
    cursor: pointer;
    color: #2b0548;
    transition: 0.2s;
}

/* register success page */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #473447;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #2b0548;
    transform: scale(1.1);
    transition: 0.5s;
}

/* Login page */
.login-submit-button {
    font-size: 20px;
    padding: 10px 20px;
    background-color:#473447;
    border-radius: 5px;
    cursor: pointer;
}

.login-submit-button:hover {
    background-color: #fff;
    color: #312431;
    transform: scale(1.1);
    transition: 0.5s;
}


/* customer order listing */

.customer-container-order-listing {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px; 
}

.customer-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.customer-table th, .customer-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.customer-table th {
    background-color: #f2f2f2;
}

.view-details-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.view-details-button:hover {
    background-color: #2980b9;
}

.customer-container-order-listing h1 {
    font-size: 24px;
}

.customer-table tr {
    border-bottom: 1px solid #ddd;
}

/* order listing - operation side */
.container-op-orders {
    display: flex;
}

.container-op-orders .container:first-child {
    background-color: #e8dcd4;
    padding: 20px 40px;
}

.container-op-orders .row-order-item {
    margin: 10px 0;
}

.container-op-orders .row-order-item form button {
    background-color: #ffffff;
    border: none;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
}

.container-op-orders .row-order-item form button .row {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container-op-orders .row-order-item form button .row p:first-child {
    font-size: 18px;
    margin-bottom: 5px;
}

.container-op-orders .row-order-item form button .col {
    font-size: 14px;
    font-weight: bold;
}

.container-op-orders .container:last-child {
    flex: 1;
    padding: 20px 40px;
}

.container-op-orders .container:last-child .row-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

.container-op-orders .container:last-child .row-details p {
    margin-right: 20px;
    font-size: 18px;
}

.container-op-orders .row-menu {
    margin-top: 50px;
}

.container-op-orders .row-menu summary {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 20px;
}

.container-op-orders .row-menu .food-item {
    table-layout: fixed;
    width: 100%;
    padding: 0 20px;
    background-color: #ffffff;
}

.container-op-orders .row-menu .food-item{
    padding: 10px;
}

.container-op-orders .row-menu .food-item {
    text-align: right;
}

.container-op-orders .row-menu .food-item .food-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
}

.container-op-orders .row-menu .food-item .food-image img {
    max-width: 100%;
    max-height: 100%;
}

.container-op-orders .row-addon {
    margin-top: 50px;
}

.container-op-orders .row-addon p {
    background-color: #ffffff;
}

.container-op-orders .row-price {
    text-align: right;
    margin-top: 50px;
    background-color: #ffffff;
}

.container-op-orders .row-action {
    display: flex;
    justify-content: flex-end;
}

.container-op-orders .row-action button {
    border: none;
    font-size: 24px;
    padding: 20px;

}