:root {
    --color-1: #473447;
    --color-2: #e8dcd4;
    --color-3: #fd6085;
    --color-4: #e0e4e4be;
    --color-5: #ccdcd0;
    --color-6: #c5a799;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

body {
    height: 100%;
    width: 100%;
}

/* header */
header {
    background-color: #ffffff;
    box-shadow: #00000029 0px 1px 4px;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

header .logo img {
    width: 50px;
}

header .logo-text {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

header div nav{
    margin-right: 100px;
}

header div nav ul {
    list-style-type: none;
}

header div nav ul li {
    display: inline-block;
}

header div nav ul li a {
    display: block;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
}

header>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .login {
    justify-self: flex-end;
    position: relative;
}

header .login .container-login-profile {
    /* Crop image */
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .login .container-login-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #ccc;
}

header .container-header-login{
    z-index: 99;
    position: absolute;
    top: 120%;
    right: 0;
    background-color: #ffffff;
    min-width: 200px;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: #0000003d 0px 3px 8px;
    flex-direction: column;
    overflow: hidden;
}

header .container-header-login .row-header-login{
    width: 100%;
}

header .container-header-login .row-header-login:first-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #0000001a;
}

header .container-header-login .row-header-login p{
    padding: 10px 20px;
    flex: 1;
    font-size: 18px;
    font-weight: bold;
}

header .container-header-login .row-header-login a.logout{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    color: #fd6085;
    font-weight: bold;
}

header .container-header-login .row-need-login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container-header-login .row-need-login a.login{
    flex: 1;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: bold;
}

header .container-header-login a.login:hover{
    background-color: #e0e4e4be;
}

header .container-header-login .row-header-login:last-child{
    display: flex;
}

header .container-header-login .row-header-login a.profile{
    flex: 1;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.3s ease;
}

header .container-header-login .row-header-login a.profile:hover{
    background-color: #e0e4e4be;
}

header .notification {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

header .notification>i {
    font-size: 28px;
    color: #473447;
    cursor: pointer;
}

header .notification>i:hover {
    opacity: 80%;
}

header .notification .indicator {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #fd6085;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

header .container-notification{
    z-index: 99;
    position: absolute;
    top: 150%;
    right: -200%;
    width: 350px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    display: none;
    box-shadow: #0000003d 0px 3px 8px;
    overflow-y: scroll;
}

header .container-notification .col-notification{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #0000001a;
}

header .container-notification .row-notification{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container-notification .row-notification form button{
    border: none;
    background-color: #ffffff;
}

header .container-notification .row-notification i{
    opacity: 50%;
    padding: 5px;
}

header .container-notification .row-notification i:hover{
    opacity: 100%;
}

header .container-notification .col-notification h2{
    flex: 1;
}

header .container-notification .col-notification i{
    text-align: right;
    margin-left: 15px;
    margin-right: 15px;
    opacity: 80%;
    color: #473447;
    font-size: 24px;
}

header .container-notification .col-notification i:hover{
    opacity: 100%;
}

header .container-notification h2{
    font-size: 18px;
    padding: 15px;
}

header .container-notification p{
    padding: 15px;
}


/* header .search-bar {
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
}

header .search-bar input {
    color: #ffffff;
    height: 100%;
    background-color: var(--color-1);
    border: none;
    font-size: 14px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 0px 20px;
}

header .search-bar input::placeholder {
    color: #ffffff;
    opacity: 80%;
}

header .search-bar input:focus {
    outline: none;
    box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
}

header .search-bar button {
    height: 100%;
    background-color: var(--color-1);
    border: none;
    color: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 12px;
}

header .search-bar button i {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
} */

/* footer */
footer {
    background-color: var(--color-1);
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #ffffff;
    font-size: 20px;
}

footer .footer-logo img{
    width: 75px;
    height: 75px;
}

footer .footer-logo-text{
    text-decoration: none;
}

footer .footer-copyright{
    font-size: 15px;
    color: #ffffff7c;
}

/* article */
article {
    min-height: 100vh;
    overflow: hidden;
    /* background-color: var(--color-2); */
}

/* Title */
 .title {
    font-size: 45px;
    text-align: center;
    background-color: var(--color-3);
    padding: 15px;
    margin-bottom: 100px;
    color: #000000;
}

.customer-article > div{
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.customer-article .container > .col:first-child{
    display: flex;
    flex-direction: column;
    background-color: var(--color-2);
    border-radius: 10px;
    padding: 20px 20px;
    min-width: 250px;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 100px;
}

.customer-article .container > .col:last-child{
    flex: auto;
    background-color: var(--color-2);
    border-radius: 10px;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 100px;
    min-height: 80vh;
}

.customer-article .container > .col:first-child .navigation ul{
    list-style-type: none;
}

.customer-article .container > .col:first-child .navigation ul li{
    margin-bottom: 10px;
}

.customer-article .container > .col:first-child .navigation ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    opacity: 50%;
}

.customer-article .container > .col:first-child .navigation ul li a:hover{
    opacity: 100%;
}

.customer-article .col:first-child .row{
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.customer-article .col .customer-account{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.customer-article .col .customer-account .customer-profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.customer-article .col .customer-account .customer-profile-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #ccc;
}

.customer-article .col .customer-account div:last-child{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.customer-article .col .customer-account h2{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}