.foodMenu.container 
{
    width: 12.5%;
    margin: 1 auto;
    padding: 20px;
}

/* Style individual menu items */
.foodMenu div 
{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style the "Add to Cart" button */
.foodMenu button 
{
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.foodMenu button:hover 
{
    background-color: #0056b3;
}

/* Style the "Checkout" button */
.foodMenu form[action*="checkout"] button 
{
    background-color: #28a745;
}

.foodMenu form[action*="checkout"] button:hover 
{
    background-color: #1e7e34;
}

.businessAnalytics-title
{
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
}

.businessAnalytics-chart-container 
{
    width: 80%;
    margin: 20px auto;
}

/* Style the canvas element containing the chart */
.businessAnalytics-chart-container canvas 
{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style the total order amount section */
.businessAnalytics-total-order-amount 
{
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 1130px;
    font-size: 24px;
    font-weight: bold;
}

.businessAnalytics-monthly-sales
{
    margin-top: 20px;
    margin-left: 175px;
    font-size: 24px;
    font-weight: bold;
}

.businessAnalytics-total-revenue 
{
    margin-top: 20px;
    margin-left: 175px;
    font-size: 24px;
    font-weight: bold;
}

/* Style the data tables */
.businessAnalytics-main-content 
{
    margin-bottom: 100px; 
}

.businessAnalytics-chart-container 
{
    margin-top: 30px; 
}

.businessAnalytics-dateChart-container 
{
    margin-top: 50px; 
}

.businessAnalytics-data-table 
{
    margin-top: 100px; 
    width: 80%; 
    margin-left: 175px; 
    margin-bottom: 100px;
}

.businessAnalytics-data-table table 
{
    width: 100%;
    border-collapse: collapse;
}

.businessAnalytics-data-table table th,
.businessAnalytics-data-table table td 
{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.businessAnalytics-data-table table th 
{
    background-color: #f5f5f5;
    font-weight: bold;
}

.businessAnalytics-data-table table tbody tr:nth-child(odd) 
{
    background-color: #f5f5f5;
}

.businessAnalytics-data-table table tbody tr:nth-child(even) 
{
    background-color: #fff;
}

.businessAnalytics-information-boxes 
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.businessAnalytics-info-box 
{
    background-color: #473447;
    color: #ffffff; /* Set the text color to white for the entire box */
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 10px;
    text-align: center;
    width: 15%;
    margin: 10px 10px 10px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.businessAnalytics-info-box h2 
{
    color:white;
    font-size: 24px;
    margin-bottom: 10px;
}

.businessAnalytics-info-box p 
{
    color:white;
    font-size: 18px;
    margin: 5px 0;
}

.businessAnalytics-info-box strong
{
    color:white;
}
