.foodMenu.container 
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 20px auto 0; 
    padding: 20px;
}

.foodMenu div 
{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style the "Add to Cart" button */
.foodMenu button 
{
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.foodMenu button:hover 
{
    background-color: #0056b3;
}

/* Style the "Checkout" button */
.foodMenu form[action*="checkout"] button 
{
    background-color: #28a745;
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
}

.foodMenu form[action*="checkout"] button:hover 
{
    background-color: #1e7e34;
}

.foodMenu-foods 
{
    list-style: none;
    padding: 0;
    width: 280px;
    height: 90px;
    overflow: scroll;
}

.foodMenu-foods li 
{
    text-align: left;
    margin: 0;
    padding: 0;
}

.foodMenu-list 
{
    display: flex; 
    flex-wrap: wrap; 
    flex: 1;
    justify-content: space-between;
}

.foodMenu-add-to-cart-button 
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-top: 10px;
}

.foodMenu-cartItems 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    flex: 0 0 22%;
    position: relative;
    padding: 10px;
}

.foodMenu-cartItems > ul 
{
    flex: 1;
    list-style: none;
    margin: 0; 
}

.foodMenu-cart-item 
{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #f5f5f5;
}

.foodMenu-cart-item-details 
{
    flex: 1; 
}

.foodMenu-cart-item-details p 
{
    margin: 0; 
}

.foodMenu-cart-item-image 
{
    max-width: 80px; 
    max-height: 80px;
    margin-right: 20px;
}


.foodMenu-item 
{
    flex: 0 0 calc(25% - 20px); 
    max-width: 280px;
    max-height: 500px; 
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin: 10px; 
    overflow: hidden; 
}

.foodMenu-item > p
{
    text-align: right;
    margin-bottom: 10px;
}

.foodMenu-item-image 
{
    width: 80%;
    max-height: 180px; 
}

.foodMenu red-button 
{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.foodMenu red-button:hover 
{
    background-color: darkred;
}

.foodMenu borderless 
{
    background: none;
    border: none;
    padding: 5px;
    font-size: inherit;
    cursor: pointer;
    font-weight: bold;
}

.foodMenu borderless:hover 
{
    background: none;
    border: none;
    padding: 5 px;
    font-size: inherit;
    cursor: pointer;
    font-weight: bold;
}

.food-name.left-aligned 
{
    text-align: left;
    margin-left: 20px;
}

.food-description-container 
{
    max-height: 100px; 
    overflow: auto;
    margin-top: 5px; 
    border: 1px solid #ccc; 
    padding: 5px; 
}

.food-description 
{
    text-align: left; 
    margin-left: 20px;
}

.food-price 
{
    position: relative; 
    top: -15px; 
}

.foodMenu-foods details summary::-webkit-details-marker 
{
    display: none;
}

.foodMenu-foods details[open] summary::before 
{
    content: ""; 
    margin-right: 5px; 
    cursor: pointer;
}

.foodMenu-foods details summary::before 
{
    content: ""; 
    margin-right: 5px; 
    cursor: pointer;
}

.businessAnalytics-title
{
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
}

.businessAnalytics-chart-container 
{
    width: 80%;
    margin: 20px auto;
}
.businessAnalytics-chart-container canvas 
{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.businessAnalytics-total-order-amount 
{
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 1130px;
    font-size: 24px;
    font-weight: bold;
}

.businessAnalytics-monthly-sales
{
    margin-top: 20px;
    margin-left: 175px;
    font-size: 24px;
    font-weight: bold;
}

.businessAnalytics-total-revenue 
{
    margin-top: 20px;
    margin-left: 175px;
    font-size: 24px;
    font-weight: bold;
}

.businessAnalytics-main-content 
{
    margin-bottom: 100px; 
}

.businessAnalytics-chart-container 
{
    margin-top: 30px; 
}

.businessAnalytics-dateChart-container 
{
    margin-top: 50px; 
}

.businessAnalytics-data-table 
{
    margin-top: 100px; 
    width: 80%; 
    margin-left: 175px; 
    margin-bottom: 100px;
}

.businessAnalytics-data-table table 
{
    width: 100%;
    border-collapse: collapse;
}

.businessAnalytics-data-table table th,
.businessAnalytics-data-table table td 
{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.businessAnalytics-data-table table th 
{
    background-color: #f5f5f5;
    font-weight: bold;
}

.businessAnalytics-data-table table tbody tr:nth-child(odd) 
{
    background-color: #f5f5f5;
}

.businessAnalytics-data-table table tbody tr:nth-child(even) 
{
    background-color: #fff;
}

.businessAnalytics-information-boxes 
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.businessAnalytics-info-box 
{
    background-color: #473447;
    color: #ffffff; 
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 10px;
    text-align: center;
    width: 13%;
    margin:10px 0 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.businessAnalytics-info-box h2 
{
    color:white;
    font-size: 24px;
    margin-bottom: 10px;
}

.businessAnalytics-info-box p 
{
    color:white;
    font-size: 18px;
    margin: 5px 0;
}

.businessAnalytics-info-box strong
{
    color:white;
}